.dv-container .pdfobject-container {
    max-height: 80vh;
    height: 700px;
    min-height: 400px;
    border: 1px solid #ccc;
}

.dv-container .dv-btn-container {
    margin: 30px auto 0;
    text-align: center;

}
.dv-container .dv-btn-container a.wp-block-file__button{
    padding: 10px;
    background: blue;
    color: #fff;
    border-radius: 5px;
}

